{% load static %}
{% block body %}

{% include 'navigation.html' %}

<script>
    function checkpass(){
        if(document.signup.pwd.value != document.signup.cpwd.value){
            alert('Password and Confirm Password field does not match');
            document.signup.cpwd.focus();
            return false
        }
        return true
    }
</script>

<marquee style="font-weight: 500;">Recruiter Signup</marquee>

<form method="POST" name="signup" onsubmit="return checkpass();" class="container mt-3" style="width:55%" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="row">
        <div class="col-md-6">
            <label for="fname"><b>First Name</b></label>
            <input type="text" class="form-control" id="fname" name="fname" required>
        </div>
        
        <div class="col-md-6">
            <label for="lname"><b>Last Name</b></label>
            <input type="text" class="form-control" id="lname" name="lname" required>
        </div>
    </div>

    <div class="row mt-1">
        <div class="col-6">
            <label for="contact" class="mt-1"><b>Contact</b></label>
            <input type="tel" class="form-control" name="contact" required>
        </div>

        <div class="col-6">
            <label for="company" class="mt-1"><b>Company Name</b></label>
            <input type="text" class="form-control" id="company" name="company" required>
        </div>
    </div>

    <div class="row mt-1">
        <div class="col-12">
            <label for="email" class="mt-1"><b>Email</b></label>
            <input type="email" class="form-control" name="email" required>
        </div>
    </div>

    <div class="row mt-1">
        <div class="col-md-6">
            <label for="pwd"><b>Password</b></label>
            <input type="password" class="form-control" id="pwd" name="pwd" required>
        </div>
        
        <div class="col-md-6">
            <label for="cpwd"><b>Confirm Password</b></label>
            <input type="password" class="form-control" id="cpwd" name="cpwd" required>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-md-6">
            <label><b>Gender</b></label><br>
            <div class="form-control">
                <label>
                    <input type="radio" name="gender" value="male">
                    Male
                  </label>
                  
                  <label style="margin-left: 5px;">
                    <input type="radio" name="gender" value="female">
                    Female
                  </label>
            </div>
        </div>
        
        <div class="col-md-6">
            <label for="image"><b>Image</b></label>
            <input type="file" class="form-control" id="image" name="image" required>
        </div>
    </div>

    <input type="submit" value="Signup" class="btn btn-light mt-2 abtn" style="background-color: maroon; color: white;">
</form>

{% if error == 'no' %}
<script>
    alert('Signup Successfull');
    window.location = ('{% url "recruiter_login" %}')
</script>
{% elif error == 'yes' %}
<script>
    alert("Something went wront, Try Again...");
    window.location = ('{% url "recruiter_signup" %}')
</script>
{% endif %}

{% endblock body %}










